.body-cover {
  background-image: url('./assets/background/background-image.png');
  background-size: cover;

}

.impact-font {
  font-family: Impact, sans-serif;
}

.find-my-treatment-button {
  position: relative;
}

.find-my-treatment-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 2px;
  border: 1px solid transparent;

  background: linear-gradient(95.12deg, #DB5095 7.77%, #1945E8 95.93%);
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Regular.otf') format('opentype');
}

.category_h1 {
  background: -webkit-linear-gradient(180deg, #C1842D 0%, #ECC974 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product_card_button {
  background: linear-gradient(268.79deg, #A75356 1.04%, #D78C6C 98.57%);

}

.product_name {
  background: -webkit-linear-gradient(180deg, #C1842D 0%, #ECC974 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product_card_icon_bg {
  background: linear-gradient(180deg, #C1842D 0%, #ECC974 100%);

}

/* category card  */
.category_card_one {
  background: url('./assets/category_images/category_vector/1.png'), linear-gradient(120.29deg, #F27070 0%, #97B5FB 82%);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.category_card_two {
  background: url('./assets/category_images/category_vector/2.png'), linear-gradient(180deg, #F29B70 0%, #FBD197 100%);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.category_card_three {
  background: url('./assets/category_images/category_vector/3.png'), linear-gradient(120.29deg, #97B5FB 0%, #F27070 83.5%);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.category_card_four {
  background: url('./assets/category_images/category_vector/4.png'), linear-gradient(180deg, #AD70F2 0%, #9D37A2 100%);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.category_card_five {
  background: url('./assets/category_images/category_vector/5.png'), linear-gradient(120.29deg, #F27070 0%, #97B5FB 82%);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.category_card_six {
  background: url('./assets/category_images/category_vector/6.png'), linear-gradient(180deg, #70CBF2 0%, #97B0FB 100%);
  background-repeat: no-repeat;
  background-position: right bottom;
}



.slider_blur {
  backdrop-filter: blur(61.938209533691406px)
}

.footer {
  background: linear-gradient(180deg, rgba(42, 58, 139, 0.737) 0%, rgba(31, 31, 31, 0.1) 100%), #1C1C1C;
}

.footer_border {
  position: relative;
}

.footer_border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 1px;
  border: 2px solid transparent;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(82, 86, 108, 0.7) 100%);
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}